<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    <ul
      class="navbar-nav me-auto mb-2 mb-md-0"
      *ngIf="acountService.currentUser$ | async"
    >
      <!-- ^ here instead of using the loggedIn property, or subscribing to the observable in the nav component and sending the property here, I am using the async pipe from an observable I put as a property in the component -->
      <!-- ^^ basically this says that is this has something that is not null, we are logged in -->
      <li class="nav-item">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Messages</a>
      </li>
    </ul>

    <div dropdown class="dropdown" *ngIf="acountService.currentUser$ | async">
      <a dropdownToggle class="dropdown-toggle text-light text-decoration-none"
        >Welcome user!</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Edit profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form
      *ngIf="!(acountService.currentUser$ | async)"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
